%nav.navbar.navbar-expand-lg.navbar-dark.bg-primary{:style=>'border-radius: 0'}
  %a.navbar-brand{:href => "#"} Sweety
  %button.navbar-toggler{"aria-controls" => "navbarColor01", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarColor01", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarColor01.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{:href => "#"}
          Home
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link{:href => "#"} Features
      %li.nav-item
        %a.nav-link{:href => "#"} Pricing
      %li.nav-item
        %a.nav-link{:href => "#"} About
    %form.form-inline.my-2.my-lg-0
      %input.form-control.mr-sm-2{:placeholder => "Search", :type => "text"}/
      %button.btn.btn-secondary.my-2.my-sm-0{:type => "submit"} Search
